/* .hub-intro-image {
	animation: intro-slide 2s ease-in-out forwards;
} */

/* .section {
  height: 100%;
  background: black;
  color: white;
}
.viewer {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.product-title-wrapper {
  top: 40%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  right: 50px !important;
  flex-direction: column;
  width: 50vw;
  z-index: 2;
}

.product-title {
  width: 450px;
  opacity: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.product-title h1 {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 118px;
  font-style: oblique;
  letter-spacing: 4.9px;
  line-height: 80px;
  text-transform: uppercase;
  text-align: right;
}

.product-info {
  top: 44%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  left: 50px !important;
  flex-direction: column;
  width: 50vw;
  z-index: 2;
}

.product-info div.product-info__description {
  width: 450px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.spacer {
  height: 700px;
}

.product-info div.product-info__description h2 {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 35px;
  padding-left: 15px;
  border-left: 3px solid #d2ff02;
} */

@keyframes intro-slide {
	0% {
		max-width: 110%;
	}
	30% {
		max-width: 110%;
	}
	100% {
		max-width: 110%;
		margin-left: -8%;
	}
}

#content {
	width: 100%;
	height: 100vh;
	overflow: auto;
}